body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 17px;
  color: #777;
  line-height: 34px;
  background: url("../images/brickwall.png");
  position: relative;
  min-height: 100%;
  padding-bottom: 10rem;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}


/*general*/


h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: 700;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

